// app global css in SCSS form
html, body
{
    background-image: linear-gradient(to right bottom, #1a2b33, #1e2a3a, #2a2040, #3d1f4d, #4d1a3d);
    background-color: $background-color;
}

.q-drawer
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.q-menu
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.q-card
{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 16px;
}

.q-stepper
{
    background: transparent;
}

.q-header
{
    border: none !important;
}

.q-field--dense .q-field__label
{
    color: rgba(255, 255, 255, 0.6);
}



.q-field--labeled .q-field__native, .q-field--labeled .q-field__prefix, .q-field--labeled .q-field__suffix
{
    color: rgba(255, 255, 255, 0.8);
}